html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  max-width: 100vw; }
  body .welcome_section {
    background: url("../img/feather.jpg") top center no-repeat fixed;
    height: 100vh;
    min-height: 684px;
    max-width: 100vw;
    background-size: 135% 135%;
    animation: zoom 16s infinite alternate; }
    body .welcome_section .menu {
      list-style: none;
      position: fixed;
      left: 0px;
      top: 0px;
      height: 100vh;
      width: 100vw;
      background-color: #f8c9c9e6;
      border-top-right-radius: 150px;
      border-bottom-left-radius: 55px;
      border: 2px solid #ffffff54;
      display: none;
      z-index: 12;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box; }
      body .welcome_section .menu li {
        position: relative; }
        body .welcome_section .menu li a {
          font-family: "Raleway";
          font-size: 66px;
          margin-top: 10vh;
          color: #b22626;
          font-weight: bold;
          -webkit-transition: color 0.2s ease-in-out, letter-spacing 0.2s ease-in-out;
          -moz-transition: color 0.2s ease-in-out, letter-spacing 0.2s ease-in-out;
          -o-transition: color 0.2s ease-in-out, letter-spacing 0.2s ease-in-out;
          transition: color 0.2s ease-in-out, letter-spacing 0.2s ease-in-out;
          text-shadow: 1px 1px #00000047;
          letter-spacing: 1px;
          text-decoration: none; }
          body .welcome_section .menu li a:hover {
            color: #ef0505;
            cursor: pointer;
            letter-spacing: 0px; }
        body .welcome_section .menu li:before {
          content: "";
          opacity: 0;
          position: absolute;
          background-color: #ef0505;
          left: -7vw;
          -webkit-transition: opacity .2s ease-in, left .2s ease-in;
          -moz-transition: opacity .2s ease-in, left .2s ease-in;
          -o-transition: opacity .2s ease-in, left .2s ease-in;
          transition: opacity .2s ease-in, left .2s ease-in;
          font-size: 40px;
          height: 66px;
          width: 8px; }
        body .welcome_section .menu li:hover:before {
          opacity: 1;
          left: -2vw; }
        body .welcome_section .menu li:nth-child(n+2) {
          margin-top: 25px; }
    body .welcome_section .welcoming_container {
      width: 400px;
      height: 250px;
      top: 200px;
      margin: 0 auto;
      position: relative; }
      body .welcome_section .welcoming_container #Mlogo {
        font-family: "Raleway";
        font-size: 120px;
        position: absolute;
        color: #ff3e3e;
        transform: rotateX(-180deg);
        display: block;
        font-weight: bold;
        width: 125px; }
      body .welcome_section .welcoming_container #Wlogo {
        font-family: "Raleway";
        font-size: 120px;
        position: absolute;
        color: #ac0000;
        font-weight: bold;
        top: 95px; }
      body .welcome_section .welcoming_container #aciej {
        font-family: "Raleway";
        font-size: 60px;
        position: absolute;
        color: white;
        width: 0px;
        overflow: hidden;
        height: 62px;
        top: 53px;
        left: 129px; }
      body .welcome_section .welcoming_container #alewski, body .welcome_section .welcoming_container #itam {
        font-family: "Raleway";
        font-size: 70px;
        position: absolute;
        color: white;
        width: 0px;
        overflow: hidden;
        top: 135px;
        left: 112px; }
  body .about {
    background: linear-gradient(to bottom, #9c0b0f 0%, #543838 100%);
    height: auto;
    min-height: 684px;
    max-width: 100vw;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 32px;
    background-size: 120%;
    transition: background-position 1s ease-out;
    box-shadow: 0px -8px 10px #9c0b0f;
    line-height: 46px; }
    body .about .about_me_paragraph {
      width: 90%;
      margin-top: 60px; }
    body .about .modal_spans {
      font-weight: bold;
      color: #ff4949;
      font-size: 35px; }
    body .about .known_paragraph {
      margin-top: 54px;
      width: 90%; }
      body .about .known_paragraph .polak_paragraph {
        border-bottom: 2px solid white;
        cursor: pointer;
        position: relative;
        white-space: nowrap;
        overflow: hidden; }
        body .about .known_paragraph .polak_paragraph:hover .polak_div {
          opacity: 1;
          visibility: visible; }
        body .about .known_paragraph .polak_paragraph .polak_div {
          height: 259px;
          width: 400px;
          background-color: white;
          border-radius: 16px;
          position: absolute;
          background: url("../img/polak.jpg") no-repeat;
          background-size: auto auto;
          background-size: auto auto;
          bottom: 45px;
          right: -78px;
          background-size: 100%;
          box-shadow: 0px 0px 10px black;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: opacity 0.15s ease-in-out;
          -moz-transition: opacity 0.15s ease-in-out;
          -o-transition: opacity 0.15s ease-in-out;
          transition: opacity 0.15s ease-in-out; }
          body .about .known_paragraph .polak_paragraph .polak_div:after {
            content: " ";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -114px;
            border-width: 14px;
            border-style: solid;
            border-color: white transparent transparent transparent; }
    body .about .care_paragraph {
      margin-top: 60px;
      text-align: center;
      font-size: 40px;
      width: 90%; }
    body .about .looking_paragraph {
      margin-top: 60px;
      text-align: center;
      font-size: 35px;
      width: 90%; }
    body .about .like_paragraph {
      margin-top: 60px;
      padding-bottom: 60px;
      text-align: center;
      font-size: 30px;
      width: 90%; }
  body .known_section {
    width: 100%;
    background: linear-gradient(to bottom, #543838 0%, #1b4882 100%); }
    body .known_section .box_container1, body .known_section .box_container2, body .known_section .box_container3, body .known_section .box_container4, body .known_section .box_container5 {
      width: 60%;
      margin: 0 auto;
      height: 400px;
      position: relative;
      display: flex; }
    body .known_section .box1, body .known_section .box2, body .known_section .box3, body .known_section .box4, body .known_section .box5, body .known_section .box6, body .known_section .box7, body .known_section .box8, body .known_section .box9, body .known_section .box10 {
      width: 50%;
      margin: 0 auto;
      height: 400px;
      box-sizing: border-box; }
    body .known_section .box_paragraph {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 70px;
      font-family: "Raleway";
      font-size: 35px;
      color: white; }
    body .known_section .logos {
      height: 128px;
      width: 128px;
      margin-right: 3%;
      z-index: 3;
      transition: .2s all ease-in-out; }
      body .known_section .logos:hover {
        transform: scale(1.15); }
    body .known_section .logo_container1, body .known_section .logo_container2, body .known_section .logo_container3 {
      position: absolute;
      top: 150px;
      transition: .5s left ease-in-out;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center; }
    body .known_section .books_meetings {
      position: absolute;
      top: 150px;
      width: 90%;
      left: 5%;
      font-family: "Raleway";
      font-size: 24px;
      color: white;
      margin-top: 15px; }
      body .known_section .books_meetings .books_p {
        font-style: italic;
        margin-bottom: 13px; }
    body .known_section .box1 {
      border-left: 2px dashed white;
      border-bottom: 2px dashed white;
      border-bottom-left-radius: 50px; }
    body .known_section .box4 {
      border-top: 2px dashed white;
      border-right: 2px dashed white;
      border-bottom: 2px dashed white;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      position: relative;
      top: -2px; }
    body .known_section .box5 {
      border-top: 2px dashed white;
      border-left: 2px dashed white;
      border-bottom: 2px dashed white;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      position: relative;
      top: -4px; }
    body .known_section .box8 {
      border-top: 2px dashed white;
      border-right: 2px dashed white;
      border-bottom: 2px dashed white;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      position: relative;
      top: -6px; }
    body .known_section .box9 {
      border-top: 2px dashed white;
      border-left: 2px dashed white;
      border-top-left-radius: 50px;
      position: relative;
      top: -8px; }
  body .projects_section {
    background: linear-gradient(to bottom, #1b4882 0%, #e0ecf9 100%);
    height: auto;
    min-height: 684px;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden; }
    body .projects_section .project {
      height: 460px;
      width: 460px;
      background-color: red;
      margin: 5vw 5vw 0 5vw;
      overflow: hidden;
      position: relative;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      body .projects_section .project:after {
        content: '';
        height: 460px;
        width: 460px;
        background-color: white;
        position: absolute;
        top: 460px;
        transition: top 0.5s ease-in-out;
        opacity: 0.6; }
      body .projects_section .project:hover:after {
        top: -460px; }
      body .projects_section .project:hover .project_info {
        top: 0px; }
      body .projects_section .project .project_info {
        height: 460px;
        width: 460px;
        background-color: grey;
        opacity: 0.9;
        position: absolute;
        top: 920px;
        transition: top 0.5s ease-in-out; }
        body .projects_section .project .project_info .project_icons {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 100px;
          -webkit-transition: margin-top .8s ease-in-out;
          -moz-transition: margin-top .8s ease-in-out;
          -o-transition: margin-top .8s ease-in-out;
          transition: margin-top .8s ease-in-out; }
          body .projects_section .project .project_info .project_icons #demo_btn {
            margin-right: 18px; }
          body .projects_section .project .project_info .project_icons .demo {
            height: 55px;
            width: 120px;
            background-color: black;
            display: inline-block;
            position: relative;
            border: 1px solid black;
            text-align: center;
            color: white;
            font-family: Raleway;
            font-weight: bold;
            font-size: 22px;
            line-height: 55px;
            transition: background-color .2s ease-in-out, color .2s ease-in-out; }
            body .projects_section .project .project_info .project_icons .demo:hover {
              background-color: white;
              color: black;
              cursor: pointer; }
            body .projects_section .project .project_info .project_icons .demo:active {
              top: 1px;
              left: 1px; }
          body .projects_section .project .project_info .project_icons .code {
            height: 55px;
            width: 120px;
            background-color: black;
            display: inline-block;
            margin-right: 3%;
            border: 1px solid black;
            text-align: center;
            color: white;
            font-family: Raleway;
            font-weight: bold;
            font-size: 22px;
            line-height: 55px;
            transition: background-color .2s ease-in-out, color .2s ease-in-out; }
            body .projects_section .project .project_info .project_icons .code:hover {
              background-color: white;
              color: black;
              cursor: pointer; }
        body .projects_section .project .project_info .project_paragraph {
          font-family: "Raleway";
          font-size: 20px;
          text-align: center;
          width: 100%;
          margin-top: 30px;
          color: white; }
      body .projects_section .project:hover .project_icons {
        margin-top: 200px; }
      body .projects_section .project:hover .logo {
        right: 37.5%;
        bottom: 54%;
        -webkit-transform: translate(-50%, -50%) scale(1.4);
        -moz-transform: translate(-50%, -50%) scale(1.4);
        -o-transform: translate(-50%, -50%) scale(1.4);
        transform: translate(-50%, -50%) scale(1.4); }
      body .projects_section .project .logo {
        position: absolute;
        right: 5px;
        bottom: 5px;
        height: 100px;
        width: 60px;
        -webkit-transition: bottom .5s ease-in-out, right .5s ease-in-out, transform .5s ease-in-out;
        -moz-transition: bottom .5s ease-in-out, right .5s ease-in-out, transform .5s ease-in-out;
        -o-transition: bottom .5s ease-in-out, right .5s ease-in-out, transform .5s ease-in-out;
        transition: bottom .5s ease-in-out, right .5s ease-in-out, transform .5s ease-in-out; }
        body .projects_section .project .logo #Mlogo_project {
          font-family: "Raleway";
          font-size: 55px;
          position: relative;
          color: #ff3e3e;
          transform: rotateX(-180deg);
          display: block;
          font-weight: bold;
          width: 60px; }
        body .projects_section .project .logo #Wlogo_project {
          font-family: "Raleway";
          font-size: 55px;
          position: relative;
          color: #ac0000;
          top: -11px;
          font-weight: bold; }
  body .contact_section {
    height: auto;
    min-height: 260px;
    position: relative;
    overflow: auto;
    box-shadow: 0px -3px 10px #575757;
    background-color: #5f5f5f; }
    body .contact_section .number {
      display: block;
      width: 621px;
      margin: 0 auto;
      position: relative;
      margin-top: 50px;
      font-size: 45px;
      font-family: Trebuchet MS;
      color: white; }
      body .contact_section .number img {
        width: 50px;
        height: 50px;
        top: 10px;
        position: relative;
        right: 20px; }
      body .contact_section .number a {
        text-decoration: none;
        color: white; }
    body .contact_section .email {
      display: block;
      width: 621px;
      margin: 0 auto;
      position: relative;
      margin-top: 40px;
      font-size: 45px;
      font-family: Trebuchet MS;
      color: white; }
      body .contact_section .email img {
        width: 50px;
        height: 50px;
        top: 10px;
        position: relative;
        right: 20px; }
      body .contact_section .email a {
        text-decoration: none;
        color: white; }

@media screen and (max-width: 1300px) {
  body .known_section .logos {
    height: 100px;
    width: 100px; }
  body .known_section .box_container1, body .known_section .box_container2, body .known_section .box_container3, body .known_section .box_container4, body .known_section .box_container5 {
    width: 80%; } }
@media screen and (max-width: 1024px) {
  body .welcome_section {
    background-size: 210%;
    min-height: 100vh;
    background-size: cover; }
    body .welcome_section .menu {
      background-color: #f8c9c9; }
  body .about {
    min-height: 535px;
    font-size: 16px;
    background-size: cover;
    line-height: 26px; }
    body .about .about_me_paragraph {
      margin-top: 40px; }
    body .about .modal_spans {
      font-size: 24px; }
    body .about .known_paragraph {
      margin-top: 0px; }
      body .about .known_paragraph .polak_paragraph .polak_div {
        height: 210px;
        width: 325px;
        bottom: 155%; }
    body .about .care_paragraph {
      font-size: 25px;
      margin-top: 12px; }
    body .about .looking_paragraph {
      margin-top: 0px;
      text-align: center;
      font-size: 21px; }
    body .about .like_paragraph {
      font-size: 18px;
      margin-top: 0px;
      padding-bottom: 0px; }
  body .contact_section .number {
    width: 450px;
    font-size: 32px; }
    body .contact_section .number img {
      width: 40px;
      height: 40px;
      top: 9px; }
  body .contact_section .email {
    width: 450px;
    font-size: 32px; }
    body .contact_section .email img {
      width: 40px;
      height: 40px;
      top: 9px; } }
@media screen and (max-width: 700px) {
  body .known_section .logos {
    height: 80px;
    width: 80px;
    margin-right: 1.5%; }
  body .known_section .logo_container1, body .known_section .logo_container2, body .known_section .logo_container3 {
    top: 120px; }
  body .known_section .box_container1, body .known_section .box_container2, body .known_section .box_container3, body .known_section .box_container4, body .known_section .box_container5 {
    width: 85%;
    height: 300px; }
    body .known_section .box_container1 .box_paragraph, body .known_section .box_container2 .box_paragraph, body .known_section .box_container3 .box_paragraph, body .known_section .box_container4 .box_paragraph, body .known_section .box_container5 .box_paragraph {
      font-size: 22px;
      top: 40px; }
  body .known_section .box1, body .known_section .box2, body .known_section .box3, body .known_section .box4, body .known_section .box5, body .known_section .box6, body .known_section .box7, body .known_section .box8, body .known_section .box9, body .known_section .box10 {
    height: 300px; }
  body .known_section .books_meetings {
    top: 110px;
    font-size: 18px; } }
@media screen and (max-width: 600px) {
  body .welcome_section .menu li a {
    font-size: 33px; }
  body .welcome_section .menu li:before {
    height: 34px;
    width: 5px;
    left: -9vw; }
  body .about {
    min-height: 550px; }
    body .about .known_paragraph .polak_paragraph .polak_div {
      right: -20px; }
      body .about .known_paragraph .polak_paragraph .polak_div:after {
        margin-left: -30px; }
    body .about .about_me_paragraph {
      width: 82%; }
    body .about .known_paragraph {
      width: 82%; }
    body .about .care_paragraph {
      width: 82%;
      font-size: 17px; }
    body .about .looking_paragraph {
      width: 82%;
      font-size: 17px; }
    body .about .like_paragraph {
      width: 82%;
      font-size: 17px; }
  body .projects_section .project {
    height: 250px;
    width: 250px; }
    body .projects_section .project:after {
      height: 250px;
      width: 250px;
      top: 250px; }
    body .projects_section .project:hover:after {
      top: -250px; }
    body .projects_section .project:hover .logo {
      right: 35.5%;
      bottom: 54%; }
    body .projects_section .project .project_info {
      height: 250px;
      width: 250px;
      top: 500px; }
      body .projects_section .project .project_info .project_icons {
        margin-top: 100px; }
        body .projects_section .project .project_info .project_icons #demo_btn {
          margin-right: 9px; }
        body .projects_section .project .project_info .project_icons .demo {
          height: 45px;
          width: 80px;
          font-size: 16px;
          line-height: 45px; }
        body .projects_section .project .project_info .project_icons .code {
          height: 45px;
          width: 80px;
          font-size: 16px;
          line-height: 45px; }
      body .projects_section .project .project_info .project_paragraph {
        font-size: 14px;
        margin-top: 20px; }
    body .projects_section .project .logo {
      height: 65px;
      width: 38px; }
      body .projects_section .project .logo #Mlogo_project {
        font-size: 36px; }
      body .projects_section .project .logo #Wlogo_project {
        font-size: 36px;
        top: -8px; }
  body .contact_section {
    min-height: 150px; }
    body .contact_section .number {
      width: 335px;
      font-size: 24px;
      margin-top: 20px; }
      body .contact_section .number img {
        width: 30px;
        height: 30px;
        top: 7px;
        right: 6px; }
    body .contact_section .email {
      width: 335px;
      font-size: 24px;
      margin-top: 20px; }
      body .contact_section .email img {
        width: 30px;
        height: 30px;
        top: 7px;
        right: 6px; } }
@media screen and (max-width: 500px) {
  body .known_section .logos {
    margin-right: 2%;
    width: 65px;
    height: 65px; }
  body .known_section .logo_container1, body .known_section .logo_container2, body .known_section .logo_container3 {
    top: 100px;
    flex-wrap: wrap; }
  body .known_section .box1, body .known_section .box2, body .known_section .box3, body .known_section .box4, body .known_section .box5, body .known_section .box6, body .known_section .box7, body .known_section .box8, body .known_section .box9, body .known_section .box10 {
    height: 270px; }
  body .known_section .box_container1, body .known_section .box_container2, body .known_section .box_container3, body .known_section .box_container4, body .known_section .box_container5 {
    width: 85%;
    height: 270px; }
    body .known_section .box_container1 .box_paragraph, body .known_section .box_container2 .box_paragraph, body .known_section .box_container3 .box_paragraph, body .known_section .box_container4 .box_paragraph, body .known_section .box_container5 .box_paragraph {
      font-size: 16px;
      top: 35px; }
  body .known_section .books_meetings {
    top: 90px;
    font-size: 18px; } }
@media screen and (max-width: 450px) {
  body .welcome_section {
    background-size: 300%; }
    body .welcome_section .welcoming_container {
      width: 85%;
      height: 150px;
      top: 150px; }
      body .welcome_section .welcoming_container #Mlogo {
        font-size: 75px; }
      body .welcome_section .welcoming_container #Wlogo {
        font-size: 75px;
        top: 62px; }
      body .welcome_section .welcoming_container #aciej {
        font-size: 40px;
        height: 42px;
        top: 30px;
        left: 83px; }
      body .welcome_section .welcoming_container #alewski, body .welcome_section .welcoming_container #itam {
        font-size: 40px;
        top: 92px;
        left: 72px; }
  body .about {
    font-size: 12px;
    line-height: 16px; }
    body .about .modal_spans {
      font-size: 14px; }
    body .about .known_paragraph .polak_paragraph .polak_div {
      height: 150px;
      width: 226px; } }
@media screen and (max-width: 370px) {
  body .contact_section {
    min-height: 135px; }
    body .contact_section .number {
      width: 250px;
      font-size: 17px;
      margin-top: 20px; }
      body .contact_section .number img {
        width: 23px;
        height: 23px;
        top: 6px;
        right: 6px; }
    body .contact_section .email {
      width: 250px;
      font-size: 17px;
      margin-top: 20px; }
      body .contact_section .email img {
        width: 23px;
        height: 23px;
        top: 6px;
        right: 6px; } }
body .welcome_section #navicon {
  width: 60px;
  height: 45px;
  position: fixed;
  left: 30px;
  top: 30px;
  -webkit-transform: rotate(0deg) scale(0.8);
  -moz-transform: rotate(0deg) scale(0.8);
  -o-transform: rotate(0deg) scale(0.8);
  transform: rotate(0deg) scale(0.8);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 13; }
@media screen and (max-width: 1000px) {
  body .welcome_section #navicon {
    -webkit-transform: rotate(0deg) scale(0.5);
    -moz-transform: rotate(0deg) scale(0.5);
    -o-transform: rotate(0deg) scale(0.5);
    transform: rotate(0deg) scale(0.5);
    top: 2px;
    left: 2px; } }
body .welcome_section #navicon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #d31a1a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }
body .welcome_section #navicon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0; }
body .welcome_section #navicon span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px; }
body .welcome_section #navicon span:nth-child(1), body .welcome_section #navicon span:nth-child(2) {
  top: 0px; }
body .welcome_section #navicon span:nth-child(3), body .welcome_section #navicon span:nth-child(4) {
  top: 18px; }
body .welcome_section #navicon span:nth-child(5), body .welcome_section #navicon span:nth-child(6) {
  top: 36px; }
body .welcome_section #navicon.open span:nth-child(1), body .welcome_section #navicon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
body .welcome_section #navicon.open span:nth-child(2), body .welcome_section #navicon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }
body .welcome_section #navicon.open span:nth-child(1) {
  left: 5px;
  top: 7px; }
body .welcome_section #navicon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px; }
body .welcome_section #navicon.open span:nth-child(3) {
  left: -50%;
  opacity: 0; }
body .welcome_section #navicon.open span:nth-child(4) {
  left: 100%;
  opacity: 0; }
body .welcome_section #navicon.open span:nth-child(5) {
  left: 5px;
  top: 29px; }
body .welcome_section #navicon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px; }

body .about .about_me_paragraph, body .about .known_paragraph, body .about .care_paragraph, body .about .looking_paragraph, body .about .like_paragraph {
  font-family: "Raleway";
  display: block;
  position: relative;
  color: #f2f2f2;
  letter-spacing: 1px; }

@media screen and (min-width: 1024px) {
  @keyframes zoom {
    0% {
      background-size: 135% 135%; }
    100% {
      background-size: 115% 115%; } } }

/*# sourceMappingURL=stylesheet.css.map */
